@import "../variables";

.form__container {
  @include displayFlex(column, $none, center, center);

  .form__header {
    margin: 0 0 32px;
  }

  .form__header--style {
    @include defaultStyle(black, $none, $fw-600, $fs-48, $lh-110);
  }

  .form__form {
    box-sizing: border-box;
    max-width: 360px;
    @include displayFlex(column, $none, center, center);

    .form__inputs {
      @include widthBoxSizing();
      @include displayFlex(column, $none, center, center);
      margin-bottom: 24px;
      gap: 16px;

      .form__input {
        @include widthBoxSizing();
        padding: 15px 24px 17px;
      }

      .form__input-valid--style {
        border: 1px solid $colorValid;
        border-radius: 15px;

        @include defaultStyle($colorValid, $none, $fw-400, $fs-18, $lh-120);

        &::placeholder {
          color: $colorValid;
        }
      }

      .form__input-error-style {
        border: 1px solid $colorError;
        border-radius: 15px;

        @include defaultStyle($colorError, $none, $fw-400, $fs-18, $lh-120);

        &::placeholder {
          color: $colorError;
        }
      }

      .form__input--style {
        border: 1px solid $colorGreyDisable;
        border-radius: 15px;

        @include defaultStyle(black, $none, $fw-400, $fs-18, $lh-120);
      }
    }

    .form__button-container {
      @include widthBoxSizing();
      @include displayFlex(column, $none, center, center);

      .form__submit-button {
        @include widthBoxSizing();
        margin-bottom: 16px;
        padding: 16px;
      }

      .form__submit-button--style {
        @include defaultStyle(white, $colorBlue, $fw-500, $fs-18, $lh-120);
        border: none;
        border-radius: 15px;
      }

      .form__privacy-policy-text {
        margin: 0;

        .form__privacy-policy-active-text--style {
          text-decoration: none;
          color: $colorBlue;
        }
      }

      .form__privacy-policy-text--style {
        @include defaultStyle(black, $none, $fw-400, $fs-14, $lh-120);
      }
    }
  }
}